.ttps-lesson {
  position: relative;
  text-align: center;
  padding: 4px;
  
}


.ttps-lesson:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 1px;
  top:1px;
  right:1px;
  bottom: 1px;
  background: #7e7e7e;
  border-radius: 10px;
  z-index: 0;
}


.ttps-lesson ul {
  position: relative;
  z-index: 1;
  list-style: none;
  padding: 0;
  color: #000
}

.ttps-scheduler {
  margin: 1%;
  width: 98%;
}

.ttps-span-left {
  font-weight: 600;
  float: left;
}


.ttps-span-center {
  float: left;
}


.ttps-span-right {
  float: right;
}

li {
  display: grid;
  justify-items: start;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 10%;
}


/*    .ttps-lesson {
     position: relative;
    }

    .ttps-lesson ul li {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    
    .ttps-lesson ul li span {
      padding: 0;
      margin: 0;
    } */